In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Book1.xlsx")

In [3]:
len(df)

4122

In [4]:
df.head()

,Number,Name of Loop,Line number,Unnamed: 3,line,Loop name
0,1,CL-AZN-008,"CRD-116-2107-CN04-10""-IH",NaN,"AIT-111-1007-AN01-2""",NaN
1,2,CL-AZN-008,"CRD-117-2111-CN04-16""-IH",NaN,"AIT-111-1007-AN01-2""",NaN
2,3,CL-AZN-008,"CRD-117-2105-CN04-16""-IH",NaN,"AIT-111-1008-AN01-2""",NaN
3,4,CL-AZN-008,"CRD-117-2129-CN04-12""-IH",NaN,"AIT-111-1008-AN01-2""",NaN
4,5,CL-AZN-008,"CRD-117-2124-CN04-8""-IH",NaN,"AIT-111-1008-AN01-2""",NaN

In [5]:
for i in range (4122):
    target_string = str(df.loc[i, "line"])
    target_string = target_string.strip()
    filtered_df = df[df['Line number'] == target_string]

    if not filtered_df.empty:
        row_location = filtered_df.index[0]
        df.loc[i, "Loop name"] = df.loc[row_location, "Name of Loop"]
    else:
        df.loc[i, "Loop name"] = ("not found in the corrosion loop.")

C:\Users\mrkhe\AppData\Local\Temp\ipykernel_15392\3775530449.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'not found in the corrosion loop.' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[i, "Loop name"] = ("not found in the corrosion loop.")

In [6]:
df

,Number,Name of Loop,Line number,Unnamed: 3,line,Loop name
0,1,CL-AZN-008,"CRD-116-2107-CN04-10""-IH",NaN,"AIT-111-1007-AN01-2""",not found in the corrosion loop.
1,2,CL-AZN-008,"CRD-117-2111-CN04-16""-IH",NaN,"AIT-111-1007-AN01-2""",not found in the corrosion loop.
2,3,CL-AZN-008,"CRD-117-2105-CN04-16""-IH",NaN,"AIT-111-1008-AN01-2""",not found in the corrosion loop.
3,4,CL-AZN-008,"CRD-117-2129-CN04-12""-IH",NaN,"AIT-111-1008-AN01-2""",not found in the corrosion loop.
4,5,CL-AZN-008,"CRD-117-2124-CN04-8""-IH",NaN,"AIT-111-1008-AN01-2""",NaN
...,...,...,...,...,...,...
4117,4118,NaN,NaN,NaN,"PWA-135-3005-AN01-2""",NaN
4118,4119,NaN,NaN,NaN,"PWA-135-3005-AN01-2""",NaN
4119,4120,NaN,NaN,NaN,"PWA-135-3005-AN01-2""",NaN
4120,4121,NaN,NaN,NaN,"PWA-135-3005-AN01-2""",NaN
4121,4122,NaN,NaN,NaN,"PWA-135-3005-AN01-2""",NaN

In [ ]:
output_file = 'my_dataframe.xlsx'
df.to_excel(output_file, index=False)